header {
    display: flex;
}

header img {
    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EDEFEE;
}

@media (max-width: 800px) {
    header img {
        height: auto;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}