nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

nav li {
    display: inline-block;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #EDEFEE;
}

nav a:active {
    color: #EDEFEE;
    text-decoration: underline;
}

@media (max-width: 800px) {
    nav ul {
        display: inline-flex;
    }
}