.testimonial-section {
    background-color: #495E57;
}

.testimonial-section h2 {
    text-align: center;
    padding-top: 10px;
}

.testimonial-section .container {
    display: flex;
    align-items: flex-start;
    padding: 15px;
}

.testimonial-section .container .box {
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 20%;
    background-color: #FFFFFF;
}

.testimonial-section .container .box p {
    padding-left: 10px;
    text-align: left;
}